/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.card {
  width: 80%;
  height: 300px;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #9ec8b9;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#aboutUsSection h2 ,.dashboard h2 {
  box-sizing: border-box;
  border-bottom: 2px solid #265073;
  padding-bottom: 10px;
  margin-top: 5px;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 10px; /* Adjust the margin as needed */
  width: 100%;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    justify-content: space-between;
    height: 100%;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1B4242;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
  background-color: #5c8374;
}

/* Style for small screens */
@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
